@{
    ViewData["Title"] = "درباره ما";
}

<div class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="about-img">
                    <img src="/images/Me.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-lg-offset-1">
                <div class="about-text">
                    <h2>درباره من</h2>
                    <p>
                        من بهنام زراعت کار هستم و شما در حال مشاهده اولین نمونه کار من در زمینه دات‌نت هستید. من کمتر از یک سال است در زمینه برنامه دات‌نت فعالیت دارم و روزبه‌روز در حال تکمیل آموخته‌های خود در این زمینه هستم. مدرک تحصیلی من کارشناس ارشد مهندسی نرم‌افزار است و به شدت به کار تیمی و تعهد به کیفیت اهمیت می‌دهم و همیشه در تلاش هستم تا بهترین راه‌حل‌ها را برای نیازهای مشتریانم ارائه دهم.
                        <br />
                        مهارت‌ها و تجربیات من شامل:
                        <br />
                        *
                        تسلط بر زبان برنامه‌نویسی C# و فریم‌ورک‌های ASP.NET Core
                        <br />
                        *
                        تجربه کار با پایگاه‌های داده SQL Server و NoSQL
                        <br />*
                        مهارت‌های عالی در حل مسئله و عیب‌یابی
                        <br />
                        *
                        توانایی برقراری ارتباط موثر با ذینفعان فنی و غیرفنی
                        <br />
                        من به طور مداوم در حال یادگیری و ارتقای مهارت‌های خود هستم و به دنبال فرصت‌های جدیدی برای به چالش کشیدن خود و رشد به عنوان یک توسعه‌دهنده نرم‌افزار هستم.
                    </p>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>