@{
    ViewData["Title"] = "کسب درآمد";
}

<div class="row">
    <div class="column left" style="width: 20%;"> </div>
    <div class="column middle" style="width: 60%;">
        <div class="siteguide-text">
            <h2>کسب درآمد</h2>
            <br />
            <p>
                شما می‌توانید محصولات خود را با نام خود در سایت ما بفروشید برای همکاری از طریق ایمیل Zeraatkar.behnam98@gmail.com ارتباط برقرار کنید.
                <br />
                <br />
            </p>
            <br />
        </div>
    </div>
    <div class="column right" style="width: 20%;"> </div>
</div>