@{
    ViewData["Title"] = "اطلاعیه‌ها";
}

<div class="row">
    <div class="column left" style="width: 20%;"> </div>
    <div class="column middle" style="width: 60%;">
        <div class="siteguide-text">
            <h2>اطلاعیه‌ها</h2>
            <br />
            <p>
                اطلاعیه جدیدی موجود نیست!
                <br />
                <br />
            </p>
            <br />
        </div>
    </div>
    <div class="column right" style="width: 20%;"> </div>
</div>
