@{
    ViewData["Title"] = "قوانین سایت";
}
<div class="row">
    <div class="column left" style="width: 20%;"> </div>
    <div class="column middle" style="width: 60%;">
        <div class="siteguide-text">
            <h2>قوانین سایت</h2>
            <br />
            <p>
                از استفاده کلمات نامناسب در نظرهای خود برای محصولات اجتناب کنید در صورت انجام این عمل حساب شما مسدود می‌شود.
                <br />
                <br />
            </p>
            <br />
        </div>
    </div>
    <div class="column right" style="width: 20%;"> </div>
</div>
