@{
    ViewData["Title"] = "راهنمای سایت";
}

<div class="row">
    <div class="column left" style="width: 20%;"> </div>
    <div class="column middle" style="width: 60%;">
        <div class="siteguide-text">
            <h2>راهنمای استفاده از سایت</h2>
            <br />
            <p>
                برای استفاده از قابلیت‌های سایت ابتدا ثبت‌نام کنید. پس از ثبت‌نام وارد حساب کاربری خود شوید. برای خروج از حساب خود از دکمه خروج در نوار بالای سایت استفاده کنید. 
                <br />
                <br />
                با مشاهده هر محصول می توانید به صفحه جزئیات محصول بروید و تمام اطلاعات آن را مشاهده کنید و برای آن امتیاز ثبت کنید یا دیدگاه خود را درباره آن محصول با دیگران به اشتراک بگذارید.
                <br />
                <br />
                با کلیک بر روی افزودن به خرید تعدادی از محصول که مشخص کرده‌اید به سبد شما افزوده می‌شود و از صفحه سبد خرید میتوانید مجموع قیمت را مشاهده کرده و سبد خرید خود را ورایش کنید.
            </p>
            <br />
        </div>
    </div>
    <div class="column right" style="width: 20%;"> </div>
</div>
