@{
    ViewData["Title"] = "همکاری با ما";
}

<div class="row">
    <div class="column left" style="width: 20%;"> </div>
    <div class="column middle" style="width: 60%;">
        <div class="siteguide-text">
            <h2>همکاری با ما</h2>
            <br />
            <p>
                در صورت تمایل برای همکاری با ما در توسعه نرم‌افزار یا مشارکت در فروش با ایمیل Zeraatkar.behnam98@gmail.com ارتباط برقرار کنید.
                <br />
                <br />
            </p>
            <br />
        </div>
    </div>
    <div class="column right" style="width: 20%;"> </div>
</div>
