<footer>
    <div class="zed-top-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                       @*  <header><h4> دسترسی سریع</h4></header>
                        <ul>
                            <li><a href="">مشاهده تمامی دوره ها</a></li>
                            <li><a href="">قوانین خرید از سایت </a></li>
                            <li><a href="">راهنمای خرید از سایت </a></li>
                            <li><a href="">همکاری با تاپ لرن </a></li>
                            <li><a href="">کسب درآمد از تاپ لرن </a></li>
                            <li><a href="">ماهنامه طراحی وب</a></li>
                        </ul> *@
                    </section>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <h5 style="color:white">سایر خدمات</h5>
                        <br/>
                        <ul>
                            <li><a href="/SiteRoles">قوانین سایت </a></li>
                            <li><a href="/SiteGuide">راهنمای خرید از سایت </a></li>
                            <li><a href="/WorkWithUs">همکاری با ما</a></li>
                            <li><a href="/EarningIncome">کسب درآمد </a></li>
                            <li><a href="/Informations">ماهنامه</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <h5 style="color:white">دسترسی سریع</h5>
                        <br/>
                        <ul>
                            <li><a href="/">خانه</a></li>
                            <li><a href="/AllProduct">محصولات</a></li>
                            <li><a href="/AboutUs">دربار ما</a></li>
                            <li><a href="/EarningIncome">کسب درآمد </a></li>
                            <li><a href="/Informations">اطلاعیه‌ها</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <figure>
                            <img src="/images/ZedShop1rbg.png" alt="Image" style="width:175px; height:125px; margin-right:40px;">
                        </figure>
                        <h3 class="mb-0 site-logo" style="margin-right:50px;"><a href="/" class="text-white mb-0">فروشگاه آنلاین</a></h3>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="zed-bottom-footer">
        <div class="container">
            <p>
                تمامی حقوق مادی و معنوی این وب‌سایت متعلق به <a href="">گروه مارلیک</a> می باشد و هرگونه کپی برداری و انتشار غیر مجاز پیگرد قانونی دارد .
            </p>
        </div>
    </div>
</footer>